#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.btn {
  padding: 10px 20px;
  font-size: med;
  font-weight: bold;
  border-radius: 6px;
}

div {
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
}
  
#selection {
  margin-top: 8px;
}
  
body {
  background-color: #f1f1f1;
  text-align: center;
}

#inner-container {
  background-color: white;
  border-radius: 6px;
  padding: 6px;
  border: 1px solid rgb(179, 179, 179);
  box-shadow: inset 2px 2px darkslategrey;
  width: 460px;
  padding-top: 10px;
  height: 266px;
}

.execute {
  padding-bottom: 300px;
  position: absolute;
  width: inherit; 
}

.shoot {
  display: flex; 
  text-align: center;
}

.hand>img {
  width: 80%;
  height: auto;
}

.words {
  position: absolute;
  width: inherit;
}

#score {
  margin-top: -10px;
  margin-bottom: 80px;
}

.winner {
text-decoration: underline;
}

.feign {
  width: inherit;
  position: absolute;
  height: 60px;
  margin-top: -62px;
}

#right {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.x-ray {
  border-radius: 30px;
  color: grey;
  border: 2px solid rgb(206, 206, 206);
  
}
